h1 { font-family: 'Poppins', arial, serif; }
p { font-family: 'Poppins', arial, serif; }
.profile {
  width: 200px;
  height: 300px;
}
</style>
<img src="imgs/IMG_0055.jpg" class="profile" alt="n/a">
body{
}
